<head>
  <title>Payment Submission.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
  <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
  <script src="https://github.com/jzaefferer/jquery-validation"></script> 
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom buttons -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Designated.</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="addFriend.php">Add Friend</a>
                    </li>
                    <li class="page-scroll">
                        <a href="history.html">History</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#page-top">Pay</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div id= id="all_cont_bit">
    <div id="move-down" style="margin-top: 120px;">
		<div id="bit_form">
			<h2 class="bit_titles"> Pay via bitcoin?</h2>
			<h4 class="bit_titles"> Enter your blockchain.info identifier and password to generate your bitcoin QR code: </h4> 
		
			<form role="form" action="payments.php" method="POST" id="submission_bit">
				<div class="form-group">
					<label for="identifier">Identifier:</label>
					<input type="text" name="identifier" class="form-control" id="identifier">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="text" name="password" class="form-control" id="pwd">
				</div>
				<input type="submit" class="btn btn-default" id="bit_submit" name="Submit">
			</form>

			<h2 class="bit_titles"> Pay with Venmo <a href = "https://venmo.com/?txn=pay&recipients=Enter_DD_Name_Here&amount=2.00&note=for+being+a+great+DD" target="_blank"> here </h2> 
		</div>
	</div>
</div>
</body>

	<style>
		body {
			background-color: #50B7A5;
			color: white;
			height: 
		}
		#bit_form {
			width: 50%;
			margin: auto;
		}
		.form-group {
			margin: auto;
		}
		.bit_titles {
			padding: 15px;
			text-align: center;
		}
		#identifier, #bit_submit, #pwd {
			margin-top: 4px;
			margin-bottom: 6px;
		}
	</style>

<script>
	$().ready(function() {
	$("#submission_bit").validate({
		rules: {
			identifier: "required",
			password: "required",

		},
		messages: {
			identifier: "Enter an indentifier",
			password: "Enter a password",
		}
	});
});
</script>